@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
::selection { background: rgba(0, 0, 0, 0.1); }
::-moz-selection { background: rgba(0, 0, 0, 0.1); }
html { font-size: 16px; }
body {
	width:				100%;
	margin:				0;
	padding:			0;
	background:			#ddd;
	min-width:			320px;
	font-family:		Habibi, Serif;
	-webkit-transform:	translateZ(0);
	-moz-transform:		translateZ(0);
	-ms-transform:		translateZ(0);
	-o-transform:		translateZ(0);
	transform:			translateZ(0);
}
a {
	outline:			0;
	text-decoration:	none;
}
hr {
	border:				1px solid;
	border-color:		#aaa transparent #fff;
}
header {
	margin: 5rem auto;
}


/* 1. ID & Class */
#heading {
	color: #333;
	margin-bottom: -1rem;
	font-size: 4rem;
	font-weight: 400;
	font-family: Raleway;
	text-align: center;
	text-shadow: 0 0 1px #999;
}
#subheading {
	color: #c00;
	font-family: Play;
	font-style: normal;
	letter-spacing: 6px;
	word-spacing: 7px;
	font-weight: 400;
	text-align: center;
}
